<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
  		.othertable {
    		border-collapse: collapse;
    		width:50%;
  		}
  		.othertable th, .othertable td {
    		padding: 5px 0px 5px 10px;
    		border: 1px solid black;
  		}
  		th {
    		background-color: #f5f5f5;
  		}
      #defaulthidden {
        display:none;
      }
      #defaulthidden2 {
        display:none;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#speciesTable').DataTable(
        {"order": [[ 1, "desc" ]],
        dom: 'Brtip',
        buttons: [
            {extend: 'csvHtml5',
            title: 'Viruses{{sampleName}}',
            fieldBoundary:'',
            customize: function (csv) {
            var csvRows = csv.split('\n');
            csvRows[0] = ',Verified Reads(Raw),Kraken(Raw),Verified Reads(RPM),Kraken(RPM),Verified Reads NTC(Raw),Kraken NTC(Raw),Verified Reads NTC(RPM),Kraken NTC(RPM)'
            return csvRows.join('\n');
            }},
            'copy'],
            "rowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[11] <= 0 )
            {
                $('td:lt(5)', nRow).css('background-color', '#FF6666');
            }
            if ( aData[11] > 2 && aData[11] < 5 )
            {
                $('td:lt(5)', nRow).css('background-color', '#D0FF89');
            }
            if ( aData[11] >= 5 )
            {
                $('td:lt(5)', nRow).css('background-color', '#99FF99');
            }
            if ( aData[13] <= 0 )
            {
                $('td:gt(4)', nRow).css('background-color', '#FF6666');
            }
            if ( aData[13] > 2 && aData[13] < 5 )
            {
                $('td:gt(4)', nRow).css('background-color', '#D0FF89');
            }
            if ( aData[13] >= 5 )
            {
                $('td:gt(4)', nRow).css('background-color', '#99FF99');
            }

            }});
      })
      $(document).ready(function() {
        $('#speciesTable2').DataTable(
          {
          "order": [[1,"desc"]],
          "columnDefs": [{"targets": [ 6 ],"visible": false,"searchable": false}],
          dom: 'Brtip',
          buttons: [
              {extend: 'csvHtml5',
              title: 'Bacteria{{sampleName}}',
              fieldBoundary:'',
              customize: function (csv) {
              var csvRows = csv.split('\n');
              csvRows[0] = ',Verified Reads,Unique Hit,Verified Reads NTC,Unique Hit NTC,Total number of markers,Genus'
              return csvRows.join('\n');
              }},
              'copy']});
        })
        $(document).ready(function() {
          $('#genusTableVir').DataTable(
            {"order": [[ 1, "desc" ]],
            dom: 'frtip',
          });
        });
        $(document).ready(function() {
          $('#genusTable').DataTable(
            {"order": [[ 1, "desc" ]],
            dom: 'frtip',
          });
        });
        $(document).ready(function() {
          $('#InternalControl').DataTable(
            {
            dom: 't',
            "rowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[3] <= 0 )
            {
                $('td:lt(3)', nRow).css('background-color', '#FF6666');
            }
            if ( aData[3] > 2 && aData[2] < 5 )
            {
                $('td:lt(3)', nRow).css('background-color', '#D0FF89');
            }
            if ( aData[3] >= 5 )
            {
                $('td:lt(3)', nRow).css('background-color', '#99FF99');
            }
          }
          });
        });
    </script>

    {% for virusToShow in listOfVirusesToShow %}
    <script>
    $(document).ready(function() {
      $('#speciesTable').on('mouseenter','#toggle_{{virusToShow.VirusID}}',function() {
        $( "#img_{{virusToShow.VirusID}}" ).show();});
    });
    $(document).ready(function() {
      $('#speciesTable').on('mouseleave','#toggle_{{virusToShow.VirusID}}',function() {
        $( "#img_{{virusToShow.VirusID}}" ).hide();});
    });
    $(document).ready(function() {
      $('#speciesTable').on('mousedown','#toggle_{{virusToShow.VirusID}}',function() {
        window.open('Viruses/Depth_Graphs{{sampleName}}/{{virusToShow.VirusName}}.png', '_blank')});
    });
    </script>
    {% endfor %}

    {% for genusToShow in GenusTableVir %}
    <script>
    $(document).ready(function() {
      $('#genusTableVir').on('mousedown','#toggle_{{genusToShow.GenusName}}',function() {
        $('#defaulthidden').show(),
        $('#speciesTable').DataTable().search("{{genusToShow.GenusName}}").draw();});
    });
    </script>
    {% endfor %}

    {% for genusToShow in GenusTable %}
    <script>
    $(document).ready(function() {
      $('#genusTable').on('mousedown','#toggle_{{genusToShow.GenusName}}',function() {
        $('#defaulthidden2').show(),
        $('#speciesTable2').DataTable().search("{{genusToShow.GenusName}}").draw();});
    });
    </script>
    {% endfor %}
    <script type="text/javascript">
    function switchToRpm() {
      var rawcolelem=document.getElementsByClassName("rawcolumns")
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rawcolumns")[i].style.display = "none";
      }
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rpmcolumns")[i].style.display = "";
      }
    };
    function switchToRaw() {
      var rawcolelem=document.getElementsByClassName("rawcolumns")
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rawcolumns")[i].style.display = "";
      }
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rpmcolumns")[i].style.display = "none";
      }
    };
    </script>
  </head>

  <body>
    <div class="container">
      <h1>{{sampleName}}</h1>
      <h3>Number of reads</h3>
      <table class="othertable">
        <tr>
           <th>Total</th>
           <th>After Preprocess</th>
           <th>Kraken Classified</th>
        </tr>
        <tr>
           <td>{{Table1Fill.NbReadsTotal}}</td>
           <td>{{Table1Fill.Preprocess}}</td>
           <td>{{Table1Fill.Classified}}</td>
        </tr>
      </table>
    </br>
    <table class="othertable" style='width:40%;'>
        <tr>
           <th>Classified Reads</th>
           <th>Raw count</th>
           <th>Percentage</th>
        </tr>
        <tr>
           <th>Human</th>
           <td>{{Table1Fill.Human}}</td>
           <td>{{Table1Fill.percentHuman}}</td>
        </tr>
        <tr>
           <th>Bacterial</th>
           <td>{{Table1Fill.Bacteria}}</td>
           <td>{{Table1Fill.percentBacteria}}</td>
        </tr>
        <tr>
           <th>Viral</th>
           <td>{{Table1Fill.Viruses}}</td>
           <td>{{Table1Fill.percentViruses}}</td>
        </tr>
      </table>
      </br>
      <h3>Internal control</h3>
      <table id="InternalControl" class="display" style='width:40%;margin:0;'>
        <thead>
        <tr>
           <th></th>
           <th>Raw count</th>
           <th>RPM</th>
           <th style="display:none;">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <th>ADN</th>
           <td>{{Table1Fill.RawIc_Adn}}</td>
           <td>{{Table1Fill.RPMIc_Adn}}</td>
           <td style="display:none;">{{Table1Fill.ScoreIc_Adn}}</td>
        </tr>
        <tr>
           <th>ARN</th>
           <td>{{Table1Fill.RawIc_Arn}}</td>
           <td>{{Table1Fill.RPMIc_Arn}}</td>
           <td style="display:none;">{{Table1Fill.ScoreIc_Arn}}</td>
        </tr>
      </tbody>
      </table>
      </br>
      <h3>Viruses</h3>
      <table id="genusTableVir" class="display">
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center;border-left: 1px solid;">Sample Reads</th>
            <th style="text-align:center;border-left: 1px solid;">NTC Reads</th>
          </tr>
        </thead>
        <tbody>
        {% for genusToShow in GenusTableVir %}
        <tr>
          <th><div id="toggle_{{genusToShow.GenusName}}">{{genusToShow.GenusName}}</div></th>
          <td style="border-left: 1px solid;">{{genusToShow.ReadsSample}}</td>
          <td style="border-left: 1px solid;">{{genusToShow.ReadsNTC}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="container" id="defaulthidden">
        <button style="position:relative;bottom:5px;" class="btn btn-primary" onClick="switchToRaw()" id="rpmbutton">Raw Count</button>
        <button style="position:relative;bottom:5px;" class="btn btn-primary" onClick="switchToRpm()" id="rpmbutton">RPM</button>
        <table id="speciesTable" class="display" style="width:100%;">
          <thead>
            <tr>
              <th></th>
              <th colspan="3" style="text-align:center;border-left: 1px solid;">Sample</th>
              <th colspan="3" style="text-align:center;border-left: 1px solid;">NTC</th>
              <th style="display:none;"></th>
              <th style="display:none;"></th>
              <th style="display:none;"></th>
            </tr>
            <tr>
               <th></th>
               <th class="rawcolumns" style="border-left: 1px solid;">Verified Reads</th>
               <th class="rawcolumns">Kraken</th>
               <th class="rpmcolumns" style="border-left: 1px solid;display:none;">Verified Reads</th>
               <th class="rpmcolumns" style="display:none;">Kraken</th>
               <th>Coverage %</th>
               <th class="rawcolumns" style="border-left: 1px solid;">Verified Reads</th>
               <th class="rawcolumns">Kraken</th>
               <th class="rpmcolumns" style="border-left: 1px solid;display:none;">Verified Reads</th>
               <th class="rpmcolumns" style="display:none;">Kraken</th>
               <th>Coverage %</th>
               <th style="display:none;">Score</th>
               <th style="display:none;">Genus</th>
               <th style="display:none;">ScoreNTC</th>
            </tr>
          </thead>
          <tbody>
          {% for virusToShow in listOfVirusesToShow %}
          <tr>
             <th><div id="toggle_{{virusToShow.VirusID}}">{{virusToShow.VirusName}}</div></th>
             <td class="rawcolumns" style="border-left: 1px solid;"><a href="Viruses/{{sampleName}}fasta/{{virusToShow.VirusID}}.fasta" download="{{virusToShow.VirusName}}.fasta">{{virusToShow.ConservedReads}}</a></td>
             <td class="rawcolumns">{{virusToShow.NotConservedReads}}</td>
             <td class="rpmcolumns" style="border-left: 1px solid;display:none;">{{virusToShow.ConservedRPM}}</td>
             <td class="rpmcolumns" style="display:none;">{{virusToShow.NotConservedRPM}}</td>
             <td>{{virusToShow.PercentCoverage}}</td>
             <td class="rawcolumns" style="border-left: 1px solid;">{{virusToShow.ConservedNTC}}</td>
             <td class="rawcolumns">{{virusToShow.NotConservedNTC}}</td>
             <td class="rpmcolumns" style="border-left: 1px solid;display:none;">{{virusToShow.ConservedNTCRPM}}</td>
             <td class="rpmcolumns" style="display:none;">{{virusToShow.NotConservedNTCRPM}}</td>
             <td>{{virusToShow.CoverageNTC}}</td>
             <td style="display:none;">{{virusToShow.Score}}</td>
             <td style="display:none;">{{virusToShow.Genus}}</td>
             <td style="display:none;">{{virusToShow.ScoreNTC}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% for virusToShow in listOfVirusesToShow %}
        <div id="img_{{virusToShow.VirusID}}" style="display:none;position:absolute;top: 750px; left: 715px;z-index:2;"><img style="border:solid 5px black;" src="Viruses/Depth_Graphs{{sampleName}}/{{virusToShow.VirusName}}.png" alt=""></div>
      {% endfor %}
      </br>
      <h3>Bacteria</h3>
      <table id="genusTable" class="display">
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center;border-left: 1px solid;">Sample Reads</th>
            <th style="text-align:center;border-left: 1px solid;">NTC Reads</th>
          </tr>
        </thead>
        <tbody>
        {% for genusToShow in GenusTable %}
        <tr>
          <th><div id="toggle_{{genusToShow.GenusName}}">{{genusToShow.GenusName}}</div></th>
          <td style="border-left: 1px solid;">{{genusToShow.ReadsSample}}</td>
          <td style="border-left: 1px solid;">{{genusToShow.ReadsNTC}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </br>
      <div class="container" id="defaulthidden2">
      <table id="speciesTable2" class="display" style="width:100%;">
        <thead>
          <tr>
            <th></th>
            <th colspan="2" style="text-align:center;border-left: 1px solid;">Sample</th>
            <th colspan="2" style="text-align:center;border-left: 1px solid;">NTC</th>
            <th style="border-left: 1px solid;"></th>
          </tr>
          <tr>
             <th></th>
             <th style="border-left: 1px solid;">Verified Reads</th>
             <th>Unique marker hit</th>
             <th style="border-left: 1px solid;">Verified Reads</th>
             <th>Unique marker hit</th>
             <th style="border-left: 1px solid;">Total number of markers</th>
             <th>Genus</th>
          </tr>
        </thead>
        <tbody>
        {% for bacteriaToShow in listOfBacteriaToShow %}
        <tr>
          <th>{{bacteriaToShow.BacteriaName}}</th>
          <td style="border-left: 1px solid;"><a href="Bacteria/{{sampleName}}fasta/{{bacteriaToShow.BacteriaID}}.fasta" download="{{bacteriaToShow.BacteriaName}}.fasta">{{bacteriaToShow.ConservedReads}}</a></td>
          <td>{{bacteriaToShow.UniqHit}}</td>
          <td style="border-left: 1px solid;">{{bacteriaToShow.ConservedNTC}}</td>
          <td>{{bacteriaToShow.UniqHitNTC}}</td>
          <td style="border-left: 1px solid;">{{bacteriaToShow.NbTargets}}</td>
          <th>{{bacteriaToShow.BacteriaGenus}}</th>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html>
