<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
		.othertable {
		border-collapse: collapse;
		width:50%;
		}
		.othertable th, .othertable td {
		padding: 5px 0px 5px 10px;
		border: 1px solid black;
		}
		th {
		background-color: #f5f5f5;
		}
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#speciesTable').DataTable();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Summary</h1>
      <table id="speciesTable" class="display">
        <thead>
          <tr>
            <th><span></span></th>
            <th style="border-left: 1px solid;"><span></span></th>
            <th><span></span></th>
            <th><span></span></th>
            <th style="border-left: 1px solid;"><span></span></th>
            <th><span></span></th>
            <th colspan="3" style="text-align:center;border-left: 1px solid;">Viruses</th>
            <th colspan="3" style="text-align:center;border-left: 1px solid;">Bacteria</th>
          </tr>
          <tr>
             <th><span>Sample</span></th>
             <th style="border-left: 1px solid;"><span>Matrix</span></th>
             <th><span>ADN/ARN</span></th>
             <th><span>Date</span></th>
             <th style="border-left: 1px solid;"><span>CI ADN Validation</span></th>
             <th><span>CI ARN Validation</span></th>
             <th style="border-left: 1px solid;"><span>Hit 1</span></th>
             <th><span>Hit 2</span></th>
             <th><span>Hit 3</span></th>
             <th style="border-left: 1px solid;"><span>Hit 1</span></th>
             <th><span>Hit 2</span></th>
             <th><span>Hit 3</span></th>
          </tr>
        </thead>
        <tbody>
        {% for rows in page1table %}
        <tr>
          <th><span><a href="{{rows.SampleName}}report.html">{{rows.SampleName}}</a></span></th>
          <td style="border-left: 1px solid;"><span>{{rows.Matrix}}</span></td>
          <td><span>{{rows.ADNorARN}}</span></td>
          <td><span>{{rows.Date}}</span></td>
          <td style="border-left: 1px solid;"><span>{{rows.Ic_Adn}}</span></td>
          <td><span>{{rows.Ic_Arn}}</span></td>
          <td style="border-left: 1px solid;"><span>{{rows.Vir1}}</span></td>
          <td><span>{{rows.Vir2}}</span></td>
          <td><span>{{rows.Vir3}}</span></td>
          <td style="border-left: 1px solid;"><span>{{rows.Bac1}}</span></td>
          <td><span>{{rows.Bac2}}</span></td>
          <td><span>{{rows.Bac3}}</span></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
