<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
  		.othertable {
    		border-collapse: collapse;
    		width:50%;
  		}
  		.othertable th, .othertable td {
    		padding: 5px 0px 5px 10px;
    		border: 1px solid black;
  		}
  		th {
    		background-color: #f5f5f5;
  		}

    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#speciesTable').DataTable(
        {"order": [[ 1, "desc" ]],
        dom: 'Bfrtip',
        buttons: [
            {extend: 'csvHtml5',
            title: 'Viruses{{sampleName}}',
            fieldBoundary:'',
            customize: function (csv) {
            var csvRows = csv.split('\n');
            csvRows[0] = ',Verified Reads(Raw),Kraken(Raw),Verified Reads(RPM),Kraken(RPM),Verified Reads NTC(Raw),Kraken NTC(Raw),Verified Reads NTC(RPM),Kraken NTC(RPM)'
            return csvRows.join('\n');
            }},
            'copy'],
            "rowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[2] < 10 )
            {
                $('td', nRow).css('background-color', '#FF6666');
            }
            else if ( aData[2] > 10 )
            {
                $('td', nRow).css('background-color', '#99FF99');
            }
            }});
      });
// HSV Gradient:FF6666,FF886B,FFA970,FFC775,FFE47A,FEFF7F,E6FF84,D0FF89,BBFF8E,A9FF93,99FF99

    $(document).ready(function() {
      $('#speciesTable2').DataTable(
        {"order": [[ 1, "desc" ]],
        dom: 'Bfrtip',
        buttons: [
            {extend: 'csvHtml5',
            title: 'Bacteria{{sampleName}}',
            fieldBoundary:'',
            customize: function (csv) {
            var csvRows = csv.split('\n');
            csvRows[0] = ',Verified Reads,Unique Hit,Verified Reads NTC,Unique Hit NTC,Total number of markers'
            return csvRows.join('\n');
            }},
            'copy']});
      });
    </script>

    {% for virusToShow in listOfVirusesToShow %}
    <script>
    $(document).ready(function() {
      $('#speciesTable').on('mouseenter','#toggle_{{virusToShow.VirusID}}',function() {
        $( "#img_{{virusToShow.VirusID}}" ).show();});
    });
    $(document).ready(function() {
      $('#speciesTable').on('mouseleave','#toggle_{{virusToShow.VirusID}}',function() {
        $( "#img_{{virusToShow.VirusID}}" ).hide();});
    });
    $(document).ready(function() {
      $('#speciesTable').on('mousedown','#toggle_{{virusToShow.VirusID}}',function() {
        window.open('Viruses/Depth_Graphs{{sampleName}}/{{virusToShow.VirusName}}.png', '_blank')});
    });
    </script>
    {% endfor %}
    <script type="text/javascript">
    function switchToRpm() {
      var rawcolelem=document.getElementsByClassName("rawcolumns")
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rawcolumns")[i].style.display = "none";
      }
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rpmcolumns")[i].style.display = "";
      }
    };
    function switchToRaw() {
      var rawcolelem=document.getElementsByClassName("rawcolumns")
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rawcolumns")[i].style.display = "";
      }
      for(var i=0; i<rawcolelem.length; i++){
        document.getElementsByClassName("rpmcolumns")[i].style.display = "none";
      }
    };
    </script>
  </head>

  <body>
    <div class="container">
      <h1>{{sampleName}}</h1>
      <h3>Number of reads</h3>
      <table class="othertable">
        <tr>
           <th>Total</th>
           <th>After Preprocess</th>
           <th>Kraken Classified</th>
        </tr>
        <tr>
           <td>{{Table1Fill.NbReadsTotal}}</td>
           <td>{{Table1Fill.Preprocess}}</td>
           <td>{{Table1Fill.Classified}}</td>
        </tr>
      </table>
    </br>
    <table class="othertable" style='width:40%;'>
        <tr>
           <th>Classified Reads</th>
           <th>Raw count</th>
           <th>Percentage</th>
        </tr>
        <tr>
           <th>Human</th>
           <td>{{Table1Fill.Human}}</td>
           <td>{{Table1Fill.percentHuman}}</td>
        </tr>
        <tr>
           <th>Bacterial</th>
           <td>{{Table1Fill.Bacteria}}</td>
           <td>{{Table1Fill.percentBacteria}}</td>
        </tr>
        <tr>
           <th>Viral</th>
           <td>{{Table1Fill.Viruses}}</td>
           <td>{{Table1Fill.percentViruses}}</td>
        </tr>
      </table>
      </br>
      <h3>Viruses</h3>
      <button style="position:relative;bottom:5px;" class="btn btn-primary" onClick="switchToRaw()" id="rpmbutton">Raw Count</button>
      <button style="position:relative;bottom:5px;" class="btn btn-primary" onClick="switchToRpm()" id="rpmbutton">RPM</button>
      <table id="speciesTable" class="display">
        <thead>
          <tr>
            <th></th>
            <th colspan="3" style="text-align:center;border-left: 1px solid;">Sample</th>
            <th colspan="3" style="text-align:center;border-left: 1px solid;">NTC</th>
          </tr>
          <tr>
             <th></th>
             <th class="rawcolumns" style="border-left: 1px solid;">Verified Reads</th>
             <th class="rawcolumns">Kraken</th>
             <th class="rpmcolumns" style="border-left: 1px solid;display:none;">Verified Reads</th>
             <th class="rpmcolumns" style="display:none;">Kraken</th>
             <th>Coverage %</th>
             <th class="rawcolumns" style="border-left: 1px solid;">Verified Reads</th>
             <th class="rawcolumns">Kraken</th>
             <th class="rpmcolumns" style="border-left: 1px solid;display:none;">Verified Reads</th>
             <th class="rpmcolumns" style="display:none;">Kraken</th>
             <th>Coverage %</th>
          </tr>
        </thead>
        <tbody>
        {% for virusToShow in listOfVirusesToShow %}
        <tr>
           <th><div id="toggle_{{virusToShow.VirusID}}">{{virusToShow.VirusName}}</div></th>
           <td class="rawcolumns" style="border-left: 1px solid;"><a href="Viruses/{{sampleName}}fasta/{{virusToShow.VirusID}}.fasta" download="{{virusToShow.VirusName}}.fasta">{{virusToShow.ConservedReads}}</a></td>
           <td class="rawcolumns">{{virusToShow.NotConservedReads}}</td>
           <td class="rpmcolumns" style="border-left: 1px solid;display:none;">{{virusToShow.ConservedRPM}}</td>
           <td class="rpmcolumns" style="display:none;">{{virusToShow.NotConservedRPM}}</td>
           <td>{{virusToShow.PercentCoverage}}</td>
           <td class="rawcolumns" style="border-left: 1px solid;">{{virusToShow.ConservedNTC}}</td>
           <td class="rawcolumns">{{virusToShow.NotConservedNTC}}</td>
           <td class="rpmcolumns" style="border-left: 1px solid;display:none;">{{virusToShow.ConservedNTCRPM}}</td>
           <td class="rpmcolumns" style="display:none;">{{virusToShow.NotConservedNTCRPM}}</td>
           <td>{{virusToShow.CoverageNTC}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% for virusToShow in listOfVirusesToShow %}
        <div id="img_{{virusToShow.VirusID}}" style="display:none;position:absolute;top: 500px; left: 715px;z-index:2;"><img style="border:solid 5px black;" src="Viruses/Depth_Graphs{{sampleName}}/{{virusToShow.VirusName}}.png" alt=""></div>
      {% endfor %}
      </br>
      <h3>Bacteria</h3>
      <table id="speciesTable2" class="display">
        <thead>
          <tr>
            <th></th>
            <th colspan="2" style="text-align:center;border-left: 1px solid;">Sample</th>
            <th colspan="2" style="text-align:center;border-left: 1px solid;">NTC</th>
            <th style="border-left: 1px solid;"></th>
          </tr>
          <tr>
             <th></th>
             <th style="border-left: 1px solid;">Verified Reads</th>
             <th>Unique marker hit</th>
             <th style="border-left: 1px solid;">Verified Reads</th>
             <th>Unique marker hit</th>
             <th style="border-left: 1px solid;">Total number of markers</th>
          </tr>
        </thead>
        <tbody>
        {% for bacteriaToShow in listOfBacteriaToShow %}
        <tr>
          <th>{{bacteriaToShow.BacteriaName}}</th>
          <td style="border-left: 1px solid;"><a href="Bacteria/{{sampleName}}fasta/{{bacteriaToShow.BacteriaID}}.fasta" download="{{bacteriaToShow.BacteriaName}}.fasta">{{bacteriaToShow.ConservedReads}}</a></td>
          <td>{{bacteriaToShow.UniqHit}}</td>
          <td style="border-left: 1px solid;">{{bacteriaToShow.ConservedNTC}}</td>
          <td>{{bacteriaToShow.UniqHitNTC}}</td>
          <td style="border-left: 1px solid;">{{bacteriaToShow.NbTargets}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
